nav {
    position: relative;
    width: 100%;
    height: 650px;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ8NDQ0NFREWFhURFRUYHSggGBolGxUVITEhJSkrLi46Fx8zOD8sNyg5LjcBCgoKDQ0NDg0NDi0ZFRktLSstKystKysrKysrKysrKy0rKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIALcBEwMBIgACEQEDEQH/xAAYAAEBAQEBAAAAAAAAAAAAAAACAQADB//EABYQAQEBAAAAAAAAAAAAAAAAAAABEf/EABYBAQEBAAAAAAAAAAAAAAAAAAABAv/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/APFVaLGmVkKNCkBpCkaQpAWQpGkKQVpCkaQoDSFjSFgJi4uKA4uFIwDjYeNgBi4WNgBiWHiYAWDY6WJYDnYlh2JYDnYNjpRoOdg2OlGg52A6WDRAsGw6NAGXGBIcCHAKFIkKAsOJIcFWQokhwGhRosgLFxigNIuMuAmLi4uAOKuNgIhMAoSAOJhjQCwbHSjQc6lh0aDnYNdKNBzo07BsBzo06NEDFVgCHAhwChwYcAocGFBShRIUAoUGFAUokiwFiyNFBorKCSMrAjKgJiYtYBsTCSgNEqgBRp0aAUadGg50adGg50adGiArMDnDgwoBw4EOAcOBCgpw4EOAUKDCgFFgwoBRsSKCqjArMwMzMCISUEEqIJRKjQGjTo0QKNOhRRoU6FAaFOhRERmAIUGFAOFBhQDhwIUFOHAhQDhQIcAigLANRlUFUdUCYV0GZk0F1GQGSsgMNWjQRKtGgNGlQoJQpULQGjSoURGZgCFBhQChwIUA4cc4cFOFAhQDlNzlOUChBCAooxQJkbQJkYFRkBWRgRmQGo1RoJRq0aCUatGgNGlQoDRpUaIKowDFgwoBQoMWCukKBKUA4UCFAOFAhQDlUZVgHKsoLoFq6OtoEosIusjCqjagLotqaDVLWo0Go1aNBKNWjQSjVo0QaNKjQFUYBijCgFCgxYKUKUYsoHCgSloHKUrnKUoOkqwJV0DlJzlXQPVDV0C1tHW0C1k1NAtRNTQLUtHU0F1KlqaC0a1o2g1GraNoJRq2jREo1aNBmHVAYsSLAKLBhAUUVgpylAiwD0pXOUpQOVdCUgItDW0D1dDV0C1dDW0D1NHW0C1NTU0FtbUS0F1NTU0GtRktBKlajQa0dWjRGo1qlBGZgFYiiksoxYIRAopxRWAUWCsA9UFA9XQlXQPW0dbQLW1NTQLW1NTQLW0dbQXUtRtBtRkBktaiC2jWQGGqlESjVogzMwCqKKqxIwFC0IUEJRiikoqBauiwG2jF0C1tHV0F1dHW0CbR1tAtRNbQXU1G0G1NbU0RkbUFZGtS0Go2ragiVFqAjMwCrMiqrMoyswirFYFVGFVdZgVtZgVtZgZmYG1tZgZtZgRtZgZEYG1GYEqVmEFmYERmFZmYH//Z");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;
}

nav h1 {
    text-align: center;
    font-size: 90px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUTExMWFhMXGBcaGBYYFxcXGhodFxoYFxgdGBcYHSggGBslHRcXITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGhAQGy8lICUtLS0tLi0tLi0rMS8tLS0tLS0tLS4tLS0tLS0vLS0tLS0tLS8tLS0tLS0rLS0tLS0tLf/AABEIALcBEwMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAADAAECBAUGBwj/xABFEAABAwEFBQYCBggFAwUAAAABAAIRAwQSITFBBVFhcfAGEyKBkaGxwRQyQlLR4QcjYnKCksLxFRZDU7Ikk6IzNGOD0v/EABoBAAMBAQEBAAAAAAAAAAAAAAABAgQDBQb/xAA4EQACAQIDAwoEBgEFAAAAAAAAAQIDEQQSITFRYQUTQXGBkaGx0fAUIjLBQlKS0uHxsgYjM2Jz/9oADAMBAAIRAxEAPwDxx9YC4GjxYF2WfDARxCC4i8ZBB3DTlll8lboWerTORBiIkOjm0SY8lTrNIMOAk44gtzx4IC5coupeHxOGIDoAGBwJB0w3zjjuRu8aKriwuNMOcGkgE3TIBcDhJbEzvhZTiMutPw3q9ZXuu92PtwDIOmOB4QD6cEBcmxgPiEQXRODRiTeAbugjAb8lGk3wO8X2xrGckEA6+HTdmiWCrTnxtmL0DU4YS5pke2QxzVWlLrrRjicATO/6p5JuNtR5rlqqTIa7TOcyMSCYnWMsxGeKEWiJgNOcNcQZBAIIMgTJIwGDUKniDhM8JwaJOLfJFNokBpdIE5xy+0J3YE4Y4oEDlmojm2AOEsO/gjWOkLzQMRIk3gOGAIBOEmFG4HSAQLxH1sjGt8YDXExnzQjSIa0kGJMHQkZ54HT1RcDZp2xorAjAyBFSW5jM6Z38eXnsVrc4VYAbdbSLpacL5lo8WoxjGNVxvevbgHYGTDssd4dgUWla3QQRAzJbLSc93h1iY1TuCdjT27tLvaFMBpAvu9GiGSd5E+hVDYluFGp3n6wOBBa6m5mEY+Jj2kP0wkZIlktoMgX4Ih7HXXhwBkCZbBGYOYJlRq7PbBfTJdTBAzhzZAMOBbhrBJg3TuIE7do3boPUuy/6QKbjD6tRzzAFI0ro0EsIc/GZMFwEeq7yx7UZVaw0WmpUeAe7aWEtwBIqOBLWRIBJPKV82dwQJbebJEHMYY4PaIzI9F67+jLtOLM4NqPaGVA2+JpUqVISGMfJ8R8LHS0GBiYGLl4tfkPDVKqqbN6XT77zRDEzUbHptn2FWfjWrXB9yiB71Hgk+TWo79iWVmLw5x/bq1H+xdHsrO0dogMaabgb4lrgQRdOIIIwMzgVxO1druDi1hkjNxxx4LWsPSoq1OKXZ78zThsJUxLu2dHVo2MZWahzNNp+XzVKpabEM6dnHKlS/BcjUe5/1nE85Kt2PZD3ifqt3n5DVQ6UpvWcux28kj1FyZQpq85G/wDS7F/t0fKjT+QRWWuyHINHIFv/ABIXO1RZ6eBe+o7c2APXL0KqVNpU/s2cfxVHfALosDJ/il+pmOp8DHS77DtGVrNpUI/+2r8C+E7rFZ35vDufcu/5sJ91wzNqn/apetQ/1KzR2hUP+g2OAq/Mq1gWtb+XoZm8K9jl3HWP7N0HZBnk3/8AD2/BAq9kWHIuHJxA9C13xWKy1v8A9kjkHfmrVK3vH2Ko5OI/pVczVWyXvwIdKk9jf6WNaexDXfaaeDqbD7yCsu0fo+JmGUj+6XNJ9QQugbtaoPtVRzAd8YS/x5wzqN/ipj5SjLiV037P7IdGk/xLx9DhrX+j8iJs7xGV0h/9XyWJtDse0SXGoyfvNM/8QNN5XqzO0X7VMn+Nv4Ig2/ObWnk9p+MlHOV1tin1XXmL4RP6Wu9ep4pV7LOmW1GncNfYlUrT2dtDY8N445EL3GtXsz//AFLOOd0T/MYVT/DbA76t6mT91z/leCaxD/FBrqsyXhakdfWx4fadk1GT+rdocYmdcvwWfVsxBAIcDxHlw5r3mt2boHBlqu8H3DPuCVStHYeoRLe5e3hLPiCPdWsRT6XbrTRwlTnfQ8NuN0c4cMfwSXrT+wVST/0w8nUo8pckr56n+Zd6Jyz3eB5LTtdVv1XvHAOMekwjM2pUAxukfuge7YPum+ju34ckzLK7LD1IXLPEu6JPr034OotHFnhPE4yfcLeseyLOCHF72Ou4gtDhiNSXYeQWA2i9pykcCDzWsLfeJvSNMjvCfObmGjA2rsuRiyqx4kCMj5ucG48t6C/sxXawuLS4DA3DeAGcknwmN06rTtdsa4NaDxJ45D0TUrQW3fF7+Yj3RzjHlOaqWZ2ADXERM3DGOvh4R6JnU4aSZmQAJ5nJwXeutT3sBDiZAwOI8ZvfVOsQoEX/AA3KcOP3A2IIA+qBnBKvnBZTgWY4Rr92BjhoUR1cwW3iBjhppm12H2QuwtGx6Bk900AEx3ZLScQBiZMTKqu2HZXCW1ajANLt4YcS7+lGeIZWZ9jsDHMEyHwS4Q4SA4t3gA4eyD9Bp33C9daC1uucS6YiAMF1FJjWsLW1KTgAbrDLOWLwBE5rJbsiuGg90x7vE5wa4OILshda7KOIQpX2MpJLajFtlkNNxkxj4fEHYcyMfnCNZwXFpa0OMZRIdEEhzRmFdtLKjg9jmOADcJaA4XZxIBJkiBhhgsdgILREY4nERGZk5GASuhzZfpWEiqwtaWAgkNk4EnBpJgnFzdMvNenfov2Qy020uqsbUp0GF4D2hwvEtpUjBEf6dZ2ORI3LymltGsRDK9VoOECq8DGJBl0Zkbsivef0KUKbbDVrU3OeHVHN8eYbRaA0SAAZkukfeiSQokVFXNvbdul9R33AQBB+zhu1PxXEAnMzOZ+a6HbTXtpHIlxAz4z93h7rnwx+rfcLJN6n2WApqNPTq7jR2TQv1AD9UYnkNPMq32m2lgKTcBEvx00HpjHJE2PZ3MpF7mxMuOP2WzGnM+aw9nsfWqPrVGAMabxlxMn7LYu8vILTRSSzM8vlKbqTVOG16epYs9gbANQnESKYIvRoTI8I9+CvWeyNODKbcN4vYbyX4D2VazWeq+pPhL3Hj1CltK0Pk06ZAY3MwfG7UnHLciMpVXuRNelQwUFopS4lio4N+2TwYDHqYHoCqz6/7P8AMZ+EKqyhVccXgch+JKtmxtY2XPe46eIjE6C7GC6yjCPRdmSliMRWv82WK2tITXVDkwDyPngSUak2oW3hDhrdDTHMAE+yzLDs573lwqOZdEuqXnQ0TpjiSYAAxJWjaNqPw7sAEf6rms7w83AQPcjeVznCq38mVEfGQV9ZPi39tnmWBQfF7As1ewAxwIN0pjXY3B1dsaOY6/H7zAJ91hWgOeZe4uO9xLj6lD+j+aaw0n9Uu5JfZ++g4vHS/D5v+Db+nUog1Hkj7TQSDzY+PimNtpEYNcHcGtg8wSSPIrHa2NEVhVrDRXS+9nOWMqS/pfc0atppmCKRBG5wAPldvf8Akk60tJEU3Rq01LzfQtkeqrNncjtwzIVczFb+9+pzVea2eS9CFSu0GRSw1F4exa0H1lVTamh0imQOF0u/n/JXrzd/pj8FE028fSPjCXMw4979S/i62+/Wk/sUnbTqThVqgbpqfKsB7JK79FG4+34pJ8zAXxNTh+mPoeKmpxjy+SmCOsPgpipvHwKmWiMvkvNbOQMAjIT6KY6whMzDIxw6CkBy/upY7EXN6xUe4nT3+UojSRu5T+am1w1CLtCEyu8ZEgZ448M+CNZ9oVW4SCBpyyxQgQeoSu8o8kc4y0yxVt7yAA0aTB0E8N+KEy1nK6Y1GB1lRLBu9D+CdsaZc0c4x3YvpDMzIE6g4BaItFN2BuzAxvbsd28lZ5ZrKGfX4qlUFnsblGoWg3Kjhh9lxGuMeg9U/wBJcBH1gBJvMa6cYmSNYlYgYE4b1J/FCqoOcQTaFlZVfdhrTBLnARg0Fx3gYctFu9kO01axMu0oFJ4xpHFpvCJnR2Xi4LnGUwL2fiEOkkyDpjorTXjr5KalVtKwZtbo9O/zJTtNNgabrwSXMccRlEb8z6KWzqZqVAydccMgMTnwXmNOuQbzXQRrkR+IXZ9ku0/juVWSSDDhMiMcBrv/AIfJEZZnqe3hOVEoc3Na9D9TuNuVDdbRZnUwAH3R8svKVnWh7WgUm/VZmfvO1PyU7RaM67TN4XKfBo+ueBJn2UbGxrW988YD6rdXHTyWqTbtBHXDwjTTxFTqQas7uacTFWoPNrfxPWSy2M4pqloLyXOxJ6hNSF50DIYzjHLitSSpxPGnOeLrWXSW7NyKo2+1Bz4kQ3DP164K/aHXWkjPTzWbZ6Je5rG5uIHqYC50bybmzZj3GjTjQh1s1qre7oUmD/Umq7XA+Gn7An+NUw1WdtWhprPg+FpuN5MFwewWW+0OnASFoR47LXdccFI0RyQ2eLLNWG0gPrGTuQBVe3QAnkpdweDfcrQY0nLAKbbM0Z4ouBmtoD9p3sFo0djuEFwDGn9hz3cyB9XzhXtm0xeLiCbjS4AC8ZwA8OsEzHBc1+kXaTmXaTHC88Oc9zWupvIGEOxgySfRYcXipU2ox2s00aMZRc5bFuJ7U7RWWh4ZNV//AMbg8cnYNaOWJC5y19trQcaTKdE72gk+YJuk/wAK500wNPNBcBvwXnutOW1s5yrflVve81KnaO1OJJquk5/qqQ+DU6yu5PBJRcnnan5n3mYTwTtdwj2QnZZ+yZvPBa7EFgPCkHDh15qvKkXcD6lTlGWC4bx6pcgJ5qveBSvDcjKFy0Af7BRkax7oQI4+ydz+ilYLhQR1Cdz4zVdw4x6KbXkdQjKF2GkHI/A/BDPWiV4efr8lK8d6WwT1Gbz+Klj1HzSDp/JIYJAOw6Zp2xko94PNRYev7pWC4QFTp1C10gkcRIQjUHUpXgSiw7mtYdqWhrvA4uOrSZvb8HGXeWK7SpbbTWAc6zPYGgANDXFoG9piMet683D9MV0/ZrtNUYRTfVI+67Q8HaTuPqrjOpH/AI7X47H29BbxEkss28nDW3G3St9teDNcWhzsIxmIOvotegIAEcytOg/vgD+pqu+66KdUe/uMEq2z2geJlWlxjvGercVE+UXL5Zxt4+Gj8D3eTYUqf+4mpX2NbvPwMW3V8Q3dn11mrfZqqDXvf7bXvx/Ya4j3AQK/ZxzpNGvTqO1Y6aT53XXfirGwNmVqT6gqtLf1NbCMPqH7WR9V6VGvSlFRi/s+56nl4znJVZSkrehmspHMk5+qs095wCqMrkngrDK2pPILUYi1f0AVmkzUqox4AkoR2gCcMkWC5pVLRGI0VhlUFYNSvj8x1ip2G13TGn4p2Fc6nZj/ABxj4gW4GDJHhg6YwuO/SJWp1DTc2q5zmlzXMfdLmyA7GMcxkV0NGuCAQfRc3+kLZ8llsYBD/DVABweBmdBOHsF5fKFG9p7jVSqfJKBxnd4892CG5uBHHIjJFLsj7KLxMnASvNMktor3UpIJdw9kk8orGF3gU+8EZKuD1+Sm1wXpNFhW1AoOM7x7fBSa7emcdcfMKRjeLf5EfNFx1wQ/P4/JTA3Y5IYEgDofQqXeRr8VGNw9fyUhSH9lGnSBJrzvnyTh/UFD7kRgeMKRoA64nePmjQeo43T7JQcuvgndSIAzIG7HzySueXAfhCQWGDetUS76KBc2YLj5ogjf16pMViJHBSa9RcGj++GPEckVjBGEGdx6hJ2GkNPJRLxu6/FOWDDh5e6fAa+6QOJCNetE4SlHsdFzzdaCeDRePGd3NO1xO0dWzsOydv7xsEAvpRE4hzTMNd8J5Qu2s1spuZeYLRSxjwEvaDkRjquG2JZjZwbzDfecTnAGQkYb/VdJsC1uL3/rzSYSD9WQSBroDlroniqGakm9q69nVr5Eck4irHGSpR1pyu1waWrsr6N8Nx0T6weIFSlW/ZqtuPHJw18kbZVA37pbWZea9oaXX6Zlp1zBQa7KjxJZRtDNS0hrvXRVrDbadOtTa016JvtHdvBLHScgT8Vho6VE+K96ft7T6Wqr05RW5+9Lf4nF0TAxUn1sUfbdIMr1WjANqPA5XjHtCoMzX06PnGWLTtC7gIncdyrOt5jFo5j2UrSwGBAJQPog0lMks07QXCPEDxRqVF0yMeuKDSsW55R6dCo3C8I80wNGxvLd/ELRp2hha6jWae5qCHAT5OEagrne+qsxIJAzjFHG1SIBa48hKicVJNMpSad0crtnZr7NWdSfB1a4Yte0iQ5p1EKrfwx6816Hdo2qkKNaQ3EsdiHUnHUb2HVvmMc+E25smtZKvd1QMpa9uLXA5Fp3Lxa+HdN8DpJKauiuykI+tHokhh43+6SzWZyszGdZiD5+SQsxGOHMe2eCtNYTqjkRxlejlkXoZncCNc4x6wTNs8dfirbqOony38fIn1QTM/2SakGhDDrrqERr+ar1Wxv+CtbM2ZUrE3HNG+8+POM/ZGS5NSpGms0nZES8+2XRTirOQW/R7JDA1a38o/qdh7K5R2XY6Zya937RLyf4fq+yfNHmz5YoL6Ly6l62OUZLjAkncwXj6DFaFDYVZ4nu3AnV5DfjJ9l3Njs9UiKNlqQMvCKbfKcCqlsbaGnx0xS3EgnlngfVRGpQvlzq+5NFUZ8p4t2w9Dtf82RzP+V6oydTj+L4Jv8ALLzj3tMH91wPxXQ2VzQ4Gs19Vv7FS4P5Ik+oXUbJ2ns3Jgp0nZRUaJ/nMg+qzYrHKhrGlKXFbPXwPShyDyva9WSXUlLy9TzGp2frg4Gm/le+BEEJ6XZ6qcy0cbpj4r2KtsCz1ReDAJydTIA9MWrLtPZRwxpvaeDhdPriD7LHT5cws3qsr4+/Q30eRsySnibP/wA1+5nn9m7H1TGLo3ig4j1D59lcpdiH4mahG9tBw+MrqWutVm1qMaP4me0tCv2bttGFVoO8s+bSZXSpjK/1UoRkuEva8Sqv+msU1eFfMuCivfecKOzdHWo86fZH9PxWjs7sfSqG6xjnkaX2t/BdxR2zYrXhLHO3fVd8nexQ7R2dvY0XOnQOBI9WjDzBShyqn8soZZcU2vCxxXIdP6atepF9iXlcxaHY4sEtsrZ3EtceeLj7KAsjw4NcO6GvhJ87vhWvTO0aJjuqjxxaXt/mzHotCjtKo/w2iz3BvdUoXfR7wR6Lv8TjIq6ipL/r6O5C5AwVN5qsuc4uepn0ez1GpEWm+77pAaD/AAZ/FaLvpFJt11KnVpDINaMv3QMPQqnb7PYcxaaTHbm1Wv8AUAk+hVGjtZtI/wDvw5o+y2jUqA8r90Dycp5rEVtbN8Jqz7Gj0KMcHQjallS4rX9S1JVdpWOoS39ZZqg+03IHmJ+AWhsahWLh/wBQ2rRb4nPd9kNxJLpOm86ysranaWzVGw6gav791g9rx9CsHaW36lRvdC7To6UqYut89XeZWijyfObUquluh2l42uu8518fFxtC/br3dJPb1vbVtFV7fqueS3lOHqMfNV6JVAK0CvbR5DCXp1UwTwUGhSYIVElqi7erLXKkHozX+iBlovCI2NwVPvOKIyogRoU3dfmrtWpSrUjQrtmkciMXUz95uvMdHIZURm1JUSgpKzRSdgZ/Rux2Le/c05FhY5p/dJbMc8UkcViNSElx+GhuKzHOWfslaBnSf6MHzRX9kqv3CObqY+ayfpLjm4nzJUmV5KvKFzU/yk7UsHOpTHzQ39khrVojiarfkFXp8UdjxkjKFwg7MU4g16P/AHCR7NUXdmKAztdEf9139KZzcExpzojKO4ajs2yUiC63U8NDZ61QcdRgujsHaXZ9IYVGzvo2V9KT5vPuuOtFjkZLJtdnFMFznBrRmSYCy4jA0a6tUV+1ryHB5HmilfqPUHdt7Fp37uTGD4vQqvbqxxHdV3Dce7/ErzKg8OEtcHDeCD8EQgrMuRsEtlNePqdviau87K1dobC/KxvHEVWs9mtIVSra7K6D9BLp1NpqfBrQufotccmk8gSsK07RcKru9ZVawGBdhpaBq4Oac89NMVrVKjTVkjTTr4xq8ZStvu0u87azbabReBRsLWOJgAV7W68d10VAHHgtCt28tbXFpoUGOGBaadSRzD6kjzXEk1G1RSL6hMF5Y64QyD4TMu7rAYwSTIw0Q/8AF63dm/UqV2NLjBql1288yW03HwjKCMcSN6iVKjKa+WL7NfJk1YYpxdSo3u1e7o1Oyd27thyNJvKiz+oFVz2ttmffAcqdFvwYuYs9qD2y3zBBBGUAg8xlOYRi0nJaI04R+lJdhjzSfSbdXtVaznaao5OLf+MKnU25aHZ2isedR5+aoii5I0yNFdiSVSu531nOdzJPxSYxSaEQQnYRJjIRy8R18fkqrqu5DLt6AD1Kqi16DCtUqcZpiJsRmOQgphUIshIOhDaVK8qEFDk4ehHgo3kBYsh2OiIH9ZKm1yIaiBF5ruvzR7w4rOY9FZUBQBfFo5deSSpDmkgZzUpqbkEOTtMlQM0GlGbUVYGAFJr5TGXaboVyziVn0nyVpWd8BBcY3FaQYwzWPtnZdSpRBkXXEhwjEXYIxJ1n/wAV0NmcIxUa1XAgRGfXquUrvYaYRppPNu06zg39nWuHgJbVAm8MPYfkqTX2qg7xRVaIlrsCRzzJ5ErtwwB03dIkafkntNMlj2tI8WbTAxAjPkhrQinFOWrsc5ae3RDqd2kabW/XpkDE4wJH2RgchKlau1feUrocx9RzouhgY1uOEtIlx3RhvnJaVbYlOs0PDKdOkwEVHS1ol0geHJxkF2X2cVpV/wBGNkddLa91rmzefD3OByLadK4MThGPNcHTj1HpxxeJu1FqXVo+zd2HO7L2RVf4WAkvMucc3H5hdG7sc5niplgJZceRIcDheJ8YE6boAyIM0Rsp2y3NLbYYc4A0Bm5ki9hJuOxGW/FalfatvtADKVHuxhIwaAdcMCfMLO6dtUz144h4hKDhlUeO/c0V6VBrWODqHgAui6Wl7rji0SQRDcCRBJIOJ0WRStVK9BcWfWJDmVDdiMzcBxmZAI3710Owez9qpVKjq1QBtQCWguJPEA5HGJ4LS2tsyg2HVXFjshBIdB4N018l0jOUdpkr4OjNfLZfftXozAFSm1gfg4GA3jPUo47iqLoEPxyxy1XH2jaTmPdTqlzmZgmZxJEnecPfVUn2y7i1xGB34g5zwjArYmfNz2nQWnwkhVy+UCyVXOpsvnxAAZzoM92Oimi5NrBBO4KbJKjSpSrTWxwTESpthElD5qTXblQiYUih3jzSDimIIHBOFBoU2oAk295J5nNSjrrNTbTwTED5KV1OWpjwQA44KTTCgBvRAUxDwnRAEkAcmHI1PghUWHMo9GnioLLBKdrUzhiFZpslMZKzmIWg9/h5qgaUmAtL6PAAOaC0B2dTdBJ3rWFDwySqpddAAVp7xABPNc3KxrpUczKtSlGWXFU6lnfF4ggEmNx5LVq2hgCB2i253tKnTADRTbdAHl+CyPEy5xRS03nqy5LUaWf2tPE57aNY1IaXYNkAZDHP4KhZrYGOaHPcO7IcHNdDhBIw4QThljxQNoWgNaIzWbUrnwkgEbp54HPBaJLMrHl0aiozzPXgXtodqy91QtpjvHAspOMnuWH61yCJqO1eRrhACWy9oupgAEyIM5FYl1odOXDNV61oMTOM+ycIKCsjhXrzqyzSPU7H2xe2mCKjXVX4eMSWgiGkOxN6fgs2iKtZrqpL3OhxLyDdETfDZzMTjvXEbHqGpWpg/VviZnJovH4DHivQv80h1M2Wk03CLk3RdY0EE3Xazl5lLLF6ijiKijluchti6HY+LLE/BZrLSCTgCACIJIi94T9XGYJW/wBq7IyQ1gIkAyD+OayrBYQwnjnKp7jkXLDTutgG9iTMRiTJw0WhTp5dYoNnpgddblYBVEhMFJp6CFe066xUg5MRMJw5QBx690/mgCd/5qTXFC1U5TAMH8lMOQWnepgpiD3k5PohhyaeKADNKe9+Sh6JmlABAd6nTgoIfOam540TuIKX8fYJIXiOPXwSRcDBYUdjwAqj3lGs7SVJZZklXqNLJDpsiFaZVTGW6AjcPirtASZhZtGqNAtKjVAGaGXEBaTjgMVTtL4bJPNK127GAsm113RErm0aYVMpC129xIiYCrPqucMTjvUS9GNjJAK5qCO88ZNxs2Z1RgcIOJGSrPshAMrWs9kIMR5lWtrNotZiZcdAddV0RgnK5wlrzMKnUWpa6U/JVBYpOJgJMg1dksvtZea0NYHAQILi9xc5zzqYutHBow379jqALNskBoaAABgrTWoSS2CD2t98yeusEENT3iUro6/NUImHKZO7qFBpjqetE59+vwQAThKkHBCHXWqk0piCEpw5RhT+CAHbyRQEIOx660KcPCACtKeUOdVJp/umAQlM135qEqQMcwgAhOGU+nsnKD3qm12E5b0CCgwmbE7zuQ72nXXFNfjrmmBbv8R15plW7zmPJJAylVptEYqzRqNjAieSzrbXAyzVP6cfzSuBum2nLAKTLe1c0+uURlXr80rjOjrW4AABAftImVjCvGqF3xQ2UjVrWhBFp3lUBadPRRFXipZaZpPrAY6odXaZu3cYGWKovqO1Qy3y/vvSG2Ffan/ePuhVKhdgZIT92d6IGjqEzmwBp4ZYqTaQyRg3rrVTjrFArioMVgHf0OoQxG9PwTEFKQKhPWPqpNQBIKbY69FE7+CeExE24qQ6+CHKJejTFAEgefqkH9ShR/fFTa32+IQMlex66/snu+nzUC84KN/TDr5oAK18HPz9d/mpd7MKuQnY6NfRAi7RnDPrgEzqm6efWaEKhyAjrgkXct3QQAanxTkoRekHxiUAHdkhSPLOfRQ76eXBQLp0KADHl7Skg3HdFJAGCa0xvQyMUkkmCHBTmY9vVJJIY1+Ez3dc0kkDHjGOZ9OPkna3HLrD8UkkikFawZawiBsZ8eORSSQMe7h6Y+v4JFmfWYSSTIYrpJiOphTAwyTpJkkhA59fmnASSQBIDXilMeWfqR5/mkkgBwdU5x66hJJAxB3JTa0/BMkgB2kqRP8AdJJAhojDrBI1N29JJMBg44+X5ZKQbkT1+KdJICZmco9PkmOBiOuoSSTAdx4+3Hgol2/RJJAEA7H+3WikXjNJJAiF529JJJAz/9k=");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    background-clip: text;
}

.piloto_f1 {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 19;
    width: 600px;
    height: 600px;
    bottom: 60px;
}

.cells_position {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 150px;    
    align-items: center;
    z-index: 18;
}

.cells_position img {
   position: relative;
   bottom: 600px;
   width: 200px;
   height: 200px;
   filter: drop-shadow(-10px 10px 5px rgb(255, 255, 255, 0.3));
}

.cells_position img:nth-child(1) {
    margin-bottom: -150px;
    transform: skew(10deg) scale(1.5);
    
}

.cells_position img:nth-child(2) {
    margin-bottom: 60px;
    transform: skew(-7deg) scale(1.3);
}

.cells_position img:nth-child(3) {
    margin-bottom: 105px;
    margin-left: 60px;
    transform: skew(-7deg) scale(1);
}

.cells_position img:nth-child(4) {
    margin-bottom: -60px;
    transform: skew(-7deg) scale(1.4);
}



@media (max-width:600px) {
    nav h1 {
        font-size: 50px;
    }

    .piloto_f1 {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 19;
    width: 500px;
    height: 500px;
    top: 45px;
}

.cells_position {
    position: relative;
    display: flex;
    justify-content: center;    
    align-items: center;
    z-index: 18;
}

.cells_position img {
   position: relative;
   bottom: 450px;
   width: 100px;
   height: 100px;
   filter: drop-shadow(-10px 10px 5px rgb(255, 255, 255, 0.3));
}

.cells_position img:nth-child(1) {
    transform: skew(10deg) scale(1.8);
    position: relative;
    left: 240px;
    
}

.cells_position img:nth-child(2) {
    position: relative;
    left: 70px;
    transform: skew(-7deg) scale(1.4);
}

.cells_position img:nth-child(3) {
    transform: skew(-8deg) scale(1.5);
}

.cells_position img:nth-child(4) {
    position: relative;
    right: 200px;
    transform: skew(-7deg) scale(1.5);
}

}

