.conteiner {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: clip;
    background-color: white;
    color: black;
    padding: 20px;
}

.conteiner form {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;
}

.conteiner .conteiner-label-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-right: 120px;
}

.conteiner .conteiner-position-input {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: end;
}

.conteiner .conteiner-position-input input{
  width: 900px;
  height: 40px;
  padding-left: 12px;
  position: relative;

}

.conteiner form button {
    width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    font-weight: 800;
    background: linear-gradient(20deg, #219ebc, #ffb703, #fb8500);
    margin: auto;
}

.conteiner form button:hover {
    background: linear-gradient(20deg, #25839b, #c9930c, #be7016);
}

.resultado {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 350px;
    background-color: black;
}

.resultado h1 {
    color: white;
}

.resultado div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    font-size: 40px;
    background-color: white;
    width: 250px;
    height: 200px;
}

@media (max-width:600px) {
    .conteiner .conteiner-label-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    position: relative;
    left: 100px;
}

.conteiner .conteiner-position-input {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: end;
}

.conteiner .conteiner-position-input input{
  width: 300px;
  height: 40px;
}

}