html, body {
  background-color: black;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 300;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}